html,
body {
    margin: 0;
    font-family: Inter, arial;
}

.container,
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    height: 285px;
    width: 100%;
    background-color: #6943FF;
}

h1,
#num-to-convert {
    color: white;
}

#num-to-convert {
    background-color: #6943FF;
    line-height: 85px;
    width: 120px;
    border: 1px solid #6943FF;
    font-weight: 800;
    font-size: 58px;
    text-align: center;
}

#convert-btn {
    margin-top: 25px;
}
